[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql = "*"
tabulate = "*"
maskpass = "*"
mysql-connector = "*"
pytest = "*"
pydocstyle = "*"
sphinx-press-theme = "*"

[dev-packages]
pytest = "*"
pydocstyle = "*"

[requires]
python_version = "3.10"
